@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: white;
  font-family: 'Poppins', sans-serif;
}

.section {
  @apply py-20 px-4;
}

@media (min-width: 640px) {
  .section {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}
